<style>
   div {
    outline: 2px solid #000; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
   }
  </style>
<ul>
	<p>{{#link-to 'blog.addPost'}}Create post{{/link-to}}</p>
		{{#each post in model itemController="blogPost"}}
		<li>
			<div>
			{{#link-to 'blog.post' post}}{{post.title}}{{/link-to}}
			<button>{{#link-to 'blog.editPost' post}}Edit{{/link-to}}</button>
			<button {{action 'deletePost' post}}>Delete</button>
			<p>{{sinopsis}}</p>
			</div>
		</li>
		{{/each}}
</ul>